<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Add Filter</title>
</head>
<body>
<form th:action="@{/saveFilter}" th:object="${filter}" method="post">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label>Make</label>
            <input type="text" class="form-control" th:field="*{make}" required>
        </div>
        <div class="col-md-6 form-group">
            <label>Model</label>
            <input type="text" class="form-control" th:field="*{model}" required>
        </div>
        <div class="col-md-6 form-group">
            <label>Manufacturer</label>
            <input type="text" class="form-control" th:field="*{manufacturer}" required>
        </div>
        <select name="year">
            <option th:each="year : ${#numbers.sequence(1980, #dates.year(#dates.createNow()))}"
                    th:value="${year}" th:text="${year}">
            </option>
        </select>
        <div class="col-md-6 form-group">
            <label>Size</label>
            <input type="number" step="any" class="form-control" th:field="*{size}" required>
        </div>
        <div class="col-md-6 form-group">
            <label>Weight</label>
            <input type="number" step="any" class="form-control" th:field="*{weight}" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-3">Save filter</button>

</form>
</body>
</html>