<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Observing Configuration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<form th:action="@{/saveOb}" th:object="${ob}" method="post">
    <div>
        <select name="lens">
            <option th:each="lenOpt : ${lens}"
                    th:value="${lenOpt}" th:text="${lenOpt}"></option>
        </select>
        <a th:href="@{/addLen}">Add new len</a>
    </div>

    <div>
        <label for="filterList">Filter (multiple select):</label>
        <br />
        <select id="filterList" th:field="*{filters}" size="10" multiple="multiple">
            <option th:each="filter : ${filterList}"
                    th:value="${{filter}}"
                    th:text="${filter}">
            </option>
        </select>
        <a th:href="@{/addFilter}">Add new filter</a>
    </div>

    <div class="form-group mt-3">
        <span class="ml-2">Light Detector <input type="checkbox" name="isLightDetectorOn" data-toggle="switch"/></span>
    </div>
    <div>
        <p><strong>Special Equipments (Multiple):</strong>
            <select name="specialEquipments" multiple="multiple">
                <option th:each="sp: ${spList}"
                        th:value="${sp}" th:text="${sp}">
            </select>
            <a th:href="@{/addEquipment}">Add new Equipment</a>
        </p>
    </div>
    <button type="submit" class="btn btn-primary btn-block mt-3">Operate</button>
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/bootstrap-switch/bootstrap-switch.min.js}"></script>

<script>
    $('[data-toggle="switch"]').bootstrapSwitch();
</script>

</body>
</html>