<html lang="en">
<head>
  <title>SubmitPlan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
	#example1 {
  		box-sizing: content-box;  
  		width: 800px;
  		height: 200px;
  		padding: 80px;  
  		border: 5px solid navy;
		}

  </style>
</head>
<body>
    <!-------------------------START! Header menubar-------------------------------->
    <a href="Home.html"><img src="Gemini8.png" width="220"></a>
    <a class="navbar-brand"></a>
        <div class="container-fluid" style="background-color:rgb(64, 131, 185);">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="Home.html"><font color="white"><b> HOME</b></font></a></li>
              <li><a href="TestSciencePlan.html"><font color="white"><b>TEST SCIENCE PLAN</b></font></a></li>
              <li><a href="OperateObserving.html"><font color="white"><b>OPERATE OBSERVING</b></font></a></li>
              <li><a href="SubmitPlan.html"><font color="white"><b>SUBMIT PLAN</b></font></a></li>
	      <li><a href="ValidateSciencePlan.html"><font color="white"><b>AVAILABLE PLAN</b></font></a></li>
	      <li><a href="ValidateSciencePlan2.html"><font color="white"><b>VALIDATE SCIENCE PLAN</b></font></a></li>
            </ul>
          </div>
        </div>
        <!-------------------------END! Header menubar-------------------------------->
        <!-------------------------START! Side menubar-------------------------------->
        <div class="container-fluid">
            <div class="row content">
              <div class="col-sm-3 sidenav">
                <ul class="nav nav-pills nav-stacked"><br><br><br><hr>
              		<li><a href="Home.html"><font color="navy"><b> HOME</b></font></a></li>
              		<li><a href="TestSciencePlan.html"><font color="navy"><b>TEST SCIENCE PLAN</b></font></a></li>
              		<li><a href="OperateObserving.html"><font color="navy"><b>OPERATE OBSERVING</b></font></a></li>
			<li><a href="SubmitPlan.html"><font color="navy"><b>SUBMIT PLAN</b></font></a></li>
	      		<li><a href="ValidateSciencePlan.html"><font color="navy"><b>AVAILABLE PLAN</b></font></a></li>
	      		<li><a href="ValidateSciencePlan2.html"><font color="navy"><b>VALIDATE SCIENCE PLAN</b></font></a></li>	
		</ul>
              </div>
              <!-------------------------END! Side menubar-------------------------------->
              <div class="col-sm-9">
            <!-------------------------START! Topic-------------------------------->
              <h1>Submitting Queue</h1>
            <!-------------------------START! Topic-------------------------------->
              <hr>
	      <div id="example1"></div>
              <label for="required">Select Science Plan:</label><br>
  	      <input type="text" id="required" name="required" value=""> <form action="/action_page.php" method="get"><input type="submit" value="Submit"/></form>

                  <br><br>
                <br>
                <hr>
              </div>
            </div>
          </div>







<br><br><br>
<!-------------------------Footer-------------------------------->
<img src="footer-blue.png" width="100%" height="100">
<footer class="container-fluid">
  <p align ="center">© 2018 Mahidol University.All Rights Reserved.</p>
</footer>

</body>
</html>