<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Test Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>
<body>
    <!-------------------------START! Header menubar-------------------------------->
    <img th:src="@{images/Gemini8.png}" width="220">
    <a class="navbar-brand"></a>
        <div class="container-fluid" style="background-color:rgb(64, 131, 185);">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><font color="white"><b> HOME</b></font></a></li>
                    <li><a th:href="@{/dataProc}"><font color="white"><b>Data Requirements</b></font> </a> </li>
                    <li><a th:href="@{/createPlan}"><font color="white"><b>CREATE PLAN</b></font> </a> </li>
                    <!--<li><a th:href="@{/testSelect}"><font color="white"><b>TEST SCIENCE PLAN</b></font></a></li>-->
                    <li><a th:href="@{/operate}"><font color="white"><b>VIRTUAL TELESCOPE</b></font></a></li>
                    <li><a th:href="@{/submitPlan}"><font color="white"><b>SUBMIT PLAN</b></font></a></li>
                    <!--<li><a th:href="@{/validatePlanSelect}"><font color="white"><b>AVAILABLE PLAN</b></font></a></li>-->
                    <li><a th:href="@{/validatePlan}"><font color="white"><b>VALIDATE SCIENCE PLAN</b></font></a></li>
                </ul>
            </div>
        </div>
    <!-------------------------END! Header menubar-------------------------------->
    <!-------------------------START! Side menubar-------------------------------->
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <ul class="nav nav-pills nav-stacked"><br><br><br><hr>
                    <li><a th:href="@{/}"><font color="navy"><b> HOME</b></font></a></li>
                    <li><a th:href="@{/dataProc}"><font color="navy"><b>Data Requirements</b></font> </a> </li>
                    <li><a th:href="@{/createPlan}"><font color="navy"><b>CREATE PLAN</b></font> </a> </li>
                    <!--<li><a th:href="@{/testSelect}"><font color="navy">><b>TEST SCIENCE PLAN</b></font></a></li>-->
                    <li><a th:href="@{/operate}"><font color="navy"><b>VIRTUAL TELESCOPE</b></font></a></li>
                    <li><a th:href="@{/submitPlan}"><font color="navy"><b>SUBMIT PLAN</b></font></a></li>
                    <!--<li><a th:href="@{/validatePlanSelect}"><font color="navy"><b>AVAILABLE PLAN</b></font></a></li>-->
                    <li><a th:href="@{/validatePlan}"><font color="navy"><b>VALIDATE SCIENCE PLAN</b></font></a></li>
                </ul>
            </div>
              <!-------------------------END! Side menubar-------------------------------->
            <div class="container">
                <div class="panel-group" style="margin-top:40px">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a th:href="@{/logout}"><font color="white">Logout</font></a>
                        </div>
                    </div>

                </div>
            </div>

              <div class="col-sm-9">
            <!-------------------------START! Topic-------------------------------->

              <h1>Result</h1>
                  <h3><span th:text="${result}"></span></h3>
            <!-------------------------START! Topic-------------------------------->
              <hr>
              <br>
              </div>
            </div>
          </div>

<br><br><br>
<!-------------------------Footer-------------------------------->
<img src="footer-blue.png" width="100%" height="100">
<footer class="container-fluid">
  <p align ="center">© 2018 Mahidol University.All Rights Reserved.</p>
</footer>

</body>
</html>